 /* Write a Sass file that assigns the text color #3D3D3D to the HTML tags body and p.
You must use a Sass variable */ 

$colorOne: #3D3D3D;

body {
    color: $colorOne; }
  
p {
    color: $colorOne; }
